body{
    background-color: #4db7fd;
    font-family: 'Poppins', sans-serif;
    color:white;
}

footer{
    color: gray;
    text-align: center;
}

.sec-bg{
    background-image: linear-gradient(#0099ff, #00538b);
}
.sec-mergin{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
    margin-top: -39px;
}
.flex{
    display: flex;
}

.half-width{
    width: 50%;
}
.margin{
    margin-top: 70px;
}
.shadow{
    filter: drop-shadow(20px 5px 10px #262627);
}
.left-pad{
    padding-left: 100px;
}

.orange-color{
    color: rgb(255, 112, 87);
}
.h1{
    font-size: 40px;
    font-weight: 700;
    filter: drop-shadow(1px 1px black);
}
.h2{
    font-size: 30px;
}
.h3{
    font-size: 18px;
    font-weight: 600;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#f7f096, #fd7c65);
    border-radius: 7px;
    color: navy;
    font-weight: 700;
    padding: 5px 20px;
}
a:hover{
    background-image: linear-gradient(#afafaf, #5e5d5d);
    color: navy;
    font-weight: 900;
}
.white-bg{
    background-color: whitesmoke;
}
